--extra-index-url https://download.pytorch.org/whl/cpu

# Core frameworks
streamlit>=1.33.0
python-dotenv>=1.0.1
requests
loguru

# LLM / RAG related
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers==3.2.1
chromadb
tiktoken
huggingface-hub>=0.20.3
transformers~=4.40.0
accelerate~=0.29.0
protobuf<3.21

# Torch CPU stack
torch==2.2.0+cpu
torchvision>=0.15.0
torchaudio>=2.0.0

# Data processing
nltk>=3.8.1
pymupdf
crawl4ai
beautifulsoup4
pysqlite3-binary
numpy~=1.26.0

# Vision + PDF
mistralai>=0.0.7
pdf2image>=1.16.3
Pillow>=10.0.0
